In [25]:
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [11]:
train_data = pd.read_csv('dataset/hm_train.csv')
test_data = pd.read_csv('dataset/hm_test.csv')
sample_submission = pd.read_csv('dataset/sample_submission.csv')
target_col = 'predicted_category'

In [8]:
print(train_data.shape)
print(test_data.shape)
train_data['predicted_category'].value_counts()

(60321, 5)
(40213, 4)

affection           20880
achievement         20274
bonding              6561
enjoy_the_moment     6508
leisure              4242
nature               1127
exercise              729
Name: predicted_category, dtype: int64

In [31]:
test_data.head()

,hmid,reflection_period,cleaned_hm,num_sentence
0,88305,3m,I spent the weekend in Chicago with my friends.,1
1,88306,3m,We moved back into our house after a remodel. ...,2
2,88307,3m,My fiance proposed to me in front of my family...,1
3,88308,3m,I ate lobster at a fancy restaurant with some ...,1
4,88309,3m,I went out to a nice restaurant on a date with...,5

In [9]:
train_data.head()

,hmid,reflection_period,cleaned_hm,num_sentence,predicted_category
0,27673,24h,I went on a successful date with someone I fel...,1,affection
1,27674,24h,I was happy when my son got 90% marks in his e...,1,affection
2,27675,24h,I went to the gym this morning and did yoga.,1,exercise
3,27676,24h,We had a serious talk with some friends of our...,2,bonding
4,27677,24h,I went with grandchildren to butterfly display...,1,affection

In [17]:
train_data['reflection_period'].value_counts()

24h    30455
3m     29866
Name: reflection_period, dtype: int64

In [30]:
print(train_data[train_data['reflection_period'] == '24h'][target_col].value_counts())
print('----')
print(train_data[train_data['reflection_period'] == '3m'][target_col].value_counts())

affection           10157
achievement          9272
enjoy_the_moment     3982
bonding              3276
leisure              2598
nature                688
exercise              482
Name: predicted_category, dtype: int64
----
achievement         11002
affection           10723
bonding              3285
enjoy_the_moment     2526
leisure              1644
nature                439
exercise              247
Name: predicted_category, dtype: int64

In [36]:
train_data[train_data['num_sentence']>=8]

,hmid,reflection_period,cleaned_hm,num_sentence,predicted_category
35,27708,24h,We were competing against another team in a on...,9,bonding
127,27800,24h,This is the second essay in a two-part series ...,53,affection
327,28000,24h,Sunset is the time when the sun goes down and ...,12,nature
527,28200,24h,Morning walk is a good exercise. An early-rise...,16,nature
2243,29931,24h,I got transfer to the main plant (From Jan) . ...,13,achievement
...,...,...,...,...,...
59406,87385,3m,Happiness in its broad sense is the label for ...,8,enjoy_the_moment
59451,87430,3m,I first saw her standing by the roadside. For ...,24,affection
59558,87537,3m,It's never about the place. It's about the peo...,8,enjoy_the_moment
59610,87591,3m,"In one month before, Me and my group of friend...",11,affection
60053,88035,3m,"One of the happiest moment, surely. Here is wh...",16,affection

In [35]:
train_data[train_data['num_sentence']>=8]['cleaned_hm'][127]

"This is the second essay in a two-part series about my journey to visit the Taj Mahal. Read the first part for the whole story.\r\r\n\r\r\nA\r\r\nGRA, Uttar Pradesh, India a As soon as my train to Agra leaves from Delhi, I find myself confused again. Iam lying on my reserved upper berth, though most of the train car beds arenat being used and almost all of the passengers are sitting on lower seats. I feel ridiculous, like Iam emperor of my train car, overseeing the rest of the passengers from above. Meanwhile, men pass by below me, offering a mysterious vegetarian curry out of industrial-sized buckets. I motion for one to serve me some on a paper plate, but when I try to pay for the food, he wonat accept any money. This is the first time Iave gotten anything for free in India. I conclude that the food is going to kill me.\r\r\n\r\r\nWhile Iam eating, the train makes a stop and passengers disembark, but the conductor makes no announcements. I canat see through any of the trainas tiny lower windows from my upper bunk. I have no idea where I am.\r\r\n\r\r\naIs this Agra?a I ask a man sitting below me. I ask as nicely as possible, in an attempt to avoid appearing as a self-righteous train car emperor, shouting questions to my serfs. After all, I remember, Taj Mahal-builder and Mughal Emperor Shah Jahan was overthrown by his son soon after the Taj Mahalas completion. The man below shakes his head and, in Hindi, I think he tells me that we still have a long ride to Agra. Another man walks by selling non-vegetarian food in foil tins. The first shots of an intestinal war have already been fired as a result of my free bucket food, so I decline. As the train chugs toward Agra, stopping at stations along the way, I find myself continuously recruiting new serfs below me to keep track of where we are. By the time Iam halfway through the journey, I have an eighteen year old kid, two Indian soldiers, and a young woman a none of whom can speak English a trying to assist me. Itas easy to accidentally aggregate helpers on the train; mercifully, Indians tend to be especially protective of clueless Westerners trying to make sense of Indian public transportation. At one point, the two Indian soldiers demand that a teenager move his feet resting on my berth, and the young woman makes food recommendations as buckets whisk by. Theyare kind of like four Train-Fairy Godmothers. Soon, I fall asleep.\r\r\n\r\r\nSuddenly, I awake to the sound of four Indians chanting aAgra! Agra!a in unison. I abruptly end my time as train car emperor, jump down from my bed, thank the four of them, and catch a taxi to my Agra guesthouse. Before he leaves, I arrange for my taxi driver to pick me up at 6 AM the next morning to take me to the Taj Mahal.\r\r\n\r\r\nIn the morning, I tell my driver to take me to the East Gate of the Taj Mahal. He promptly takes me to a roundabout near the West Gate instead a though his aEast Gate!a announcement upon our arrival is quite convincing. Indiaas perpetually dishonest taxi drivers always have ulterior (and sometimes mysterious) motives; in this case, he was trying to save gas by taking me to the Gate closer to my hotel and, according to Lonely Planet, possibly collect a kickback from camel and rickshaw drivers sitting near the West Gate waiting to take tourists to the Tajas ticket office. I donat bother to argue with him since thereas not much time until sunrise, and I walk quickly to the entrance. Standing in line with about twenty other mostly Indian tourists, Iam surprised to see a lack of Westerners a I imagined that every white person in India would be flocking to the Taj Mahal.\r\r\n\r\r\nFinally, the doors open, and I catch my first glimpse of the building considered to be the most beautiful in the world, one whose creator boasted that it made athe sun and the moon shed tears from their eyes.a I see the famous white, marble dome peeking through the arch of the Great Gate as tourists hold cameras high above their heads to get their first snapshot. I walk deliberately toward and around the Taj, soaking in the dawn, slowly taking photos from every possible angle. A handful of photographers gather in front of the adjacent Taj Mahal mosque with me to capture the sun as it rises behind it. Everyone is reverent, taking care not to interfere with othersa photographs and offering to help take posed pictures. The moment is perfect for the photographer gaggle: mist blankets the Yamuna River behind the structure, and the building looks like it has risen spontaneously from a clouded heaven, a concrete manifestation of nirvana.\r\r\n\r\r\nThe simple presence of the Taj, built as a symbol of eternal love by Emperor Jahan in memory of his third wife who died during childbirth, seems to encourage even rabid photographers to cooperate with each other.\r\r\n\r\r\nI spend almost two hours touring and photographing the Taj, walking around its walls, admiring the calligraphy on the entrance arch, gazing at the minarets, and touching the intricate lattice screens in the mausoleum interior. Iam just about finished, taking a few final classic Taj Mahal reflection pool photographs from outside, when a beautiful, young blond woman performing playful, provocative poses for her friends camera catches my eye. Soon, a string of Indian men, and some Indian families too, start interrupting to ask her to pose with them in souvenir photos.\r\r\n\r\r\naThe Indian tourists seem more interested in your white skin and blond hair than the white marble of the Taj Mahal,a I say to her. aIam pretty sure a lot of these Indian guys are leaving with more pictures of you than the Taj.a\r\r\n\r\r\nShe chuckles and introduces herself to me as Sophie, from France, and, quickly, weare trading funny stories of our travels through India. We like each other immediately. We find ourselves chatting in front of the Tajas reflection pool for about a half hour as Indian men gawk at us. But when Sophie and I realize that weare headed in opposite directions a she toward Amritsar in northern India and me toward Kerala in southern India a we share an awkward moment during which we realize that this is the one and only meeting of our entire lives.\r\r\n\r\r\nwell, it truly has been a pleasure, Hank,a she says. Her eyes hold on mine. For a long moment, she doesnat look away. I canat tell whether sheas staring at me or at the exquisite reflection of the Taj Mahal in the pool behind me.\r\r\n\r\r\nShe walks past me, in front of the rising sun. Then, she glances back at me one last time, smiles, and then shifts her gaze, once again, toward the world's most beautiful symbol of eternal love."

In [16]:
train_data[train_data['num_sentence']>1][target_col].value_counts()

affection           4445
achievement         2790
enjoy_the_moment    1488
bonding             1190
leisure              344
nature               210
exercise              77
Name: predicted_category, dtype: int64